#header{
    display: flex;
    height: 50px;
width: 300px;
    background-color: saddlebrown;
    text-align: center;
    text-decoration: silver;
    position:absolute;
    top: 10px;
}
#footer{
    display: flex;
    height: 50px;
width: 300px;
background-color: saddlebrown;
text-align: center;
text-decoration:silver;
position: absolute;
bottom: 150px;


}
#left{
    background-color: darksalmon;
    width: 50px;
    height: 280px;
    display: flexbox;
box-sizing: content-box;
text-align: center;
text-align-last: center;
position:absolute;
bottom: 55px;
top:78px;
}

#right{
    background-color: darksalmon;
    width: 50px;
    height: 280px;
    display: flexbox;
box-sizing: content-box;
text-align: center;
position:absolute;
bottom: 55px;
top: 78px;
right: 190px;
left: 258px;

}
    
#middle {
background-color: aqua;
width: 250px;
height: 280px;
object-fit: cover;
display: flexbox;
box-sizing: content-box;
text-align: center;
position: relative;
left: 50px;

 } 

    
    

